html, html a {
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}

body {
    font-size: 15px;
    line-height: 100%;
    color: #909090;
    /*background: #F7F6F5;*/
    background: #e2e2e2;
    /*font-family: 'Lato', '微软雅黑', sans-serif;*/
    font-family: "PingFang SC", "Lantinghei SC", "Open Sans", Arial, "Hiragino Sans GB", "Microsoft YaHei", 微软雅黑, STHeiti, "WenQuanYi Micro Hei", SimSun, sans-serif;
}

p {
    line-height: 24px;
    margin-bottom: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-family: 'Rufina', serif;
    line-height: 100%;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 16px;
}

h6 {
    font-size: 14px;
}

ul, ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

a, span, i, strong, img {
    display: inline-block;
}

a, a:hover, a:focus {
    outline: none;
    text-decoration: none;
}

a, a:hover, a:focus, a:active {
    color: #909090;
}

a {
    transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
}

img {
    object-fit: cover;
}

img.img-responsive {
    margin: 0 auto;
}

header {
    box-shadow: 0 0 5px #cccccc;
}

body {
    font-size: 15px;
    line-height: 100%;
    color: #909090;
    background: #f7f7f7;
    font-family: 'Lato', sans-serif;
}

.top {
    margin-top: 20px;
}

.bottom {
    margin-bottom: 20px;
}

.none {
    display: none;
}

/*.share-area span.icon:hover,*/
/*.subscribe-form input[type=submit],*/
.widget-title:before,
.categorie-item:hover span,
.widget_tags ul li a:hover,
    /*.section-title:before,*/
    /*.form-common input[type=submit],*/
    /*.featured-post,*/
    /*.slider-style-one,*/
    /*.slider-one-body,*/
    /*.slider-style-two*/
    /*.slide-content-area.replay-btn*/
    /*.fa-reply:hover,*/
    /*.slide-element.replay-text,*/
    /*.navbar-default .navbar-nav .has-sub-menu.mobile .sub-trigger,*/
    /*.navbar-default .navbar-toggle .icon-bar,*/
.read-more-btn:hover,
.nav li:hover {
    background: #5bc98a;
    color: #fff;
    transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
}

.list-single .title a:hover,
.post-comment-meta:hover,
.widget.widget_link a:hover,
.post-wrapper a:hover,
.widget_recent_stories a:hover {
    color: #5bc98a;
    transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
}

p {
    line-height: 24px;
    margin-bottom: 0;
}

.navbar-default.fixed-menu {
    padding: 0;
    background: #fff;
    border-bottom: 1px solid #f3f3f3;
}

.navbar-default {
    background: #f7f7f7;
    box-shadow: none;
    padding: 30px 0 55px 0;
    transition: all 0.4s ease-in-out !important;
}

.navbar-home {
    background: #fff;
    border: 1px solid transparent;
    margin-bottom: 0px;
}

.navbar-logo {
    float: left;
    position: absolute;
    top: 2px;
}

.navbar-logo img {
    height: 50px;
}

.sidebar {
    display: none;
}

@media (min-width: 768px) {
    .navbar-logo, .navbar-home {
        padding: 25px 0 20px 0;
    }
}

@media (min-width: 990px) {
    .sidebar {
        display: block;
    }
}

.navbar-right li {
    border-radius: 3px;
}

.slider-body {
    padding: 0 0 20px 0;
}

.widget {
    padding: 30px 30px 30px 35px;
    margin-bottom: 30px;
    background: #fff;
    -webkit-box-shadow: 0px 3px 12px -9px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 3px 12px -9px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 3px 12px -9px rgba(0, 0, 0, 0.75);
}

.widget-title {
    position: relative;
    margin-bottom: 45px;
}

.widget-title h5 {
    color: #222222;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0.8px;
}

.widget-title:before {
    content: '';
    position: absolute;
    height: 20px;
    width: 25px;
    left: -35px;
    border-radius: 0px 10px 10px 0px;
    -webkit-border-radius: 0px 10px 10px 0px;
    -moz-border-radius: 0px 10px 10px 0px;
}

.widget-about-thumb img {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-box-shadow: 0px 2px 22px -6px #000000;
    -moz-box-shadow: 0px 2px 22px -6px #000000;
    box-shadow: 0px 2px 22px -6px #000000;
}

.read-more-btn {
    font-size: 14px;
    height: 36px;
    width: 110px;
    color: #222222;
    line-height: 33px;
    text-align: center;
    border: 1px solid #e3e3e3;
    border-radius: 18px 18px 18px 18px;
}

.widget-about-content p {
    margin-bottom: 25px;
}

.widget-about-content h6 {
    font-size: 16px;
    color: #222222;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 3px;
}

.categorie-item {
    margin-bottom: 35px;
}

.categorie-item a {
    float: left;
}

.categorie-item span {
    float: right;
    height: 25px;
    width: 35px;
    line-height: 25px;
    text-align: center;
    background: #f9f9f9;
    border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
}

.widget_recent_stories .widget-img {
    height: 70px;
    width: 70px;
    float: left;
    overflow: hidden;
    position: relative;
}

.widget_recent_stories .widget-img img {
    width: 70px;
}

.widget_recent_stories .widget-img .widget-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    background: rgba(91, 201, 138, 0.8);
}

.widget_recent_stories .widget-img i.fa-search {
    position: absolute;
    left: 50%;
    top: 110%;
    opacity: 0;
    color: #fff;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease-in;
}

.widget-content {
    padding-left: 15px;
    display: table-cell;
    vertical-align: middle;
}

.widget-content h5 a {
    font-size: 15px;
    line-height: 30px;
    color: #222222;
}

.widget-content span {
    font-size: 14px;
    line-height: 30px;
    font-style: italic;
}

.widget_instagram ul li {
    margin: 8px 8px;
    display: inline-block;
}

.widget_tags ul li {
    display: inline-block;
    font-size: 13px;
    margin: 5px;
}

.widget_tags ul li a {
    padding: 9px 20px;
    background: #f9f9f9;
    border-radius: 20px 20px 20px 20px;
    -webkit-border-radius: 20px 20px 20px 20px;
    -moz-border-radius: 20px 20px 20px 20px;
}

.widget.widget_recent_stories ul li {
    display: table;
    margin-bottom: 30px;
}

.widget.widget-search .search_box {
    height: 30px;
    width: 190px;
    padding: 0 5px;
    line-height: 30px;
}

.widget.widget-search button {
    height: 30px;
    width: 30px;
    background: none;
    border: none;
}

/* post-single */

.post-without-masonary {
    margin-bottom: 60px;
    overflow: hidden;
}

.ps-rel {
    position: relative;
}

.post-wrapper-skw .post-wrapper {
    /*padding: 30px 40px 35px 30px;*/
    padding: 5px 40px 35px 30px;
}

.post-wrapper {
    background: #fff;
    margin-top: -2px;
    padding: 30px 40px 35px 30px;
}

.post-wrapper-skw:before {
    content: " ";
    position: absolute;
    /*top: -44px;*/
    top: -70px;
    left: -290px;
    width: 0;
    height: 0;
    border-style: solid;
    /*border-width: 45px 1140px 0px 0;*/
    /*border-color: rgba(0, 0, 0, 0) #fff rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);*/
    border-width: 75px 1140px 0;
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #fff;
}

.blog-footer {
    padding: 20px 0 0 0;
    overflow: hidden;
}

.blog-footer-content {
    float: left;
    margin-right: 20px;
}

.post-comment-meta {
    line-height: 35px;
}

.comments-no {
    margin-right: 25px;
}

.post-meta-data {
    line-height: 35px;
    border-bottom: 1px solid #efefef;
    color: #ccc;
}

.post-meta-data a {
    color: #ccc;
}

.post-date, .post-category, .post-tags {
    margin-right: 10px;
}

.post-tags a {
    margin-right: 5px;
}

.post-title {
    padding: 0 0 20px 0;
}

.post-entry {
    padding: 20px 0;
}

.post-single {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

.post-single:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

/* pagination */

.pagination > .active > span:hover {
    background-color: #eee;
    border-color: #ddd;
    color: #5bc98a;

    transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
}

.pagination-area > ul > li.active span {
    border-color: #5bc98a;
    background: #5bc98a;
}

.pagination-area > ul > li a,
.pagination-area > ul > li a:hover {
    color: #5bc98a;
}

.post-tags .label-tag {
    border: 1px solid #eee;
    background: #eee;
    color: #909090;
}

/*footer*/

/*==========================================================
                 11. FOOTER
===========================================================*/
.footer-top {
    background: #f1f1f1;
    padding: 10px 0 35px 0;
    position: relative;
}

.goto-btn {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -20px;
    height: 45px;
    width: 45px;
    cursor: pointer;
    line-height: 30px;
    text-align: center;
    background: #e9e9e9;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}

.footer-logo {
    margin: 10px 0 10px 0;
}

.footer-logo img {
    display: inline-block;
}

.footer-bottom {
    background: #e9e9e9;
    padding: 30px 0;
}

.copy-right-text span {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}

/* article */

.article-detail {
    margin-bottom: 20px;

}

.article-detail img {
    width: auto;
}

.article-body {
    background: #ffffff;
    padding: 20px;
    overflow: hidden;
}

.article-body .title {
    font-size: 26px;
    padding: 10px 0 20px 0;
}

.article-footer {
    overflow: hidden;
    padding: 20px 0;
}

.article-like {
    border-radius: 50px;
    height: 60px;
    width: 60px;
    border: 1px solid #ddd;
    padding: 4px 0 0 1px;
    margin: 0 auto;
}

.article-like:hover {
    background: #efefef;
    cursor: pointer;
}

.article-share {
    line-height: 50px;
    display: block;
}

.article-related {
    padding: 10px 0
}

/* category */

.list-style {
    background: #fff;
    padding: 20px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
    margin-bottom: 20px;
}

.list-style .title {

}

.list-single {
    padding: 20px 0 10px 0;
    border-bottom: 1px solid #efefef;

    background: #fff;
    padding: 30px 20px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
    margin-bottom: 20px;
    position: relative;
}

.list-single .title {
    /*font-size:20px;*/
    padding-bottom: 20px;
    color: #33383A;
}

.list-single .list-block {
    padding: 10px 0;
}

.list-single .time {
    background: #5bc98a;
    color: #ffffff;
    border-radius: 15px 0 0 15px;
    width: auto;
    height: 30px;
    position: absolute;
    right: 0px;
    top: 20px;
    line-height: 30px;
    padding: 0 10px;
}

.list-desc {
    padding: 10px 0;
}

.user-thumb {
    /*text-align: center;*/
    padding: 20px;
}

.user-thumb img {
    margin: 0 auto;
    margin-bottom: 15px;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-box-shadow: 0px 2px 22px -6px #000000;
    -moz-box-shadow: 0px 2px 22px -6px #000000;
    box-shadow: 0px 2px 22px -6px #000000;
}

/* slider */
.swiper-container {
    height: 360px;
    margin-bottom: 30px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
}